<% if @entry.errors.any? %>
<div id="error_explanation">
  <h2>Yarr, <%= pluralize(@entry.errors.count, "error") %> be found in yer form! Try again or walk the plank, ya scurvy dog!</h2>

  <ul>
  <% @entry.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @entry do |f| %>

  <p>
    <%= f.label :word %>
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.label :language %>
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.label :definition %>
    <%= f.text_area :definition %>
  </p>

<p><%= f.submit %></p>
<% end %>
