<h1>Edit Entry</h1>

<%= form_for @entry do |f| %>

  <p>
    <%= f.label :word %>
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.label :language %>
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.label :definition %>
    <%= f.text_field :definition %>
  </p>

<p><%= f.submit %></p>
<% end %>

<%= link_to "Back", entries_url %>
<!-- This page should have a form to allow a user to modify the details of an existing definition.

Hints:

This is another dynamic route, so you’ll need to use the params hash to retrieve the right entry from the database
You should use form_for
Your form code should start to look an awful lot like the code from the new page - refactor to use a partial view that both pages can render in order to keep your code DRY -->
