<h1>Entry Form</h1>

<%= form_for @entry do |f| %>

  <p>
    <%= f.label :word %>
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.label :language %>
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.label :definition %>
    <%= f.text_field :definition %>
  </p>

<p><%= f.submit %></p>
<% end %>

<%= link_to "Back", entries_url %>

<!-- This page should contain a form to allow the user to add a new entry to the dictionary.

Hints:

Use form_for and its corresponding form helpers to create the fields (e.g. f.submit to make an <input type=”submit”)
For the Entry model, word and language are string columns and definition is a text column
If you haven’t found yourself requiring an instance variable, look for ways to refactor your code so the controller and not the view is calling ActiveRecord methods -->
